@use "@scss/mixins/typography" as f;
@use "@scss/mixins/breakpoints" as b;
@use "@scss/variables/colors" as c;

.button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.8rem;
  cursor: pointer;
  width: 100%;
  @include b.md() {
    padding: 0.5rem;
  }
}

.button-full-rounded {
  border-radius: 1.5rem;
}

.button-right-rounded {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.button-left-rounded {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.button-no-rounded {
  border-radius: none;
}

// variant prop
.button-text {
  @include f.font-article-md();
}

.button-contained {
  padding: 0.5rem;
  @include f.font-article-xl();
  @include b.md() {
    padding: 0.8rem 2rem;
    border-radius: 5rem;
  }
  @include b.sm() {
    padding: 0.5rem 1.2rem;
    border-radius: 5rem;
  }
}

.button-ghost {
  @include f.font-article-md();
  @include b.md() {
    display: flex;
    gap: 0;
    @include f.font-article-md();
    .button-label {
      margin-top: 0.8rem;
    }
  }
  @include b.sm() {
    @include f.font-article-sm();
    padding: 0.5rem;
  }
}
//color prop
.button-primary {
  color: var(--c-typo-1);
  background-color: transparent;
  &:hover {
    background-color: c.$c-light-purple;
    color: var(--c-white);
  }
  &.button-active {
    background-color: var(--c-purple);
    color: var(--c-white);
  }
}
.button-secondary {
  background-color: var(--c-purple);
  color: var(--c-white);
  &:hover {
    background-color: c.$c-light-purple;
  }
}

.button-center {
  justify-content: center;
}

.button-static {
  width: 100%;
  color: var(--c-purple);
  background-color: var(--c-bg);
}

.button-narrow {
  width: max-content;
}
