@use "@scss/mixins/typography" as f;
@use "@scss/mixins/theme";

.active-board {
  background-color: var(--c-purple);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.active-board-name {
  color: var(--c-typo-2);
  @include f.font-heading3-regular();
}

.boards {
  width: 100%;
  padding: 0.8rem;
}

.boards-header {
  padding: 0.5rem;
}
.boards-heading {
  color: var(--c-typo-2);
  @include f.font-heading2-regular();
}

.boards-list {
  display: flex;
  flex-direction: column;
}

.board-icon {
  color: var(--c-typo-1);
}

.plus-icon {
  color: var(--c-purple);
}

.board-button-content {
  display: flex;
  padding-right: 0.8rem;
}

.boards-heading {
  font-size: clamp(1rem, 0.8rem + 0.9vw, 1.2rem);
}
