@use "@scss/mixins/theme" as t;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body:has(dialog[open]) {
  overflow-y: hidden;
}
:root {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

:root[data-theme="light"] {
  @include t.light-theme();
}

:root[data-theme="dark"] {
  @include t.dark-theme();
}

:root:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

ul,
ol {
  list-style: none;
}

body {
  min-width: 320px;
  height: 100%;
  background-color: var(--c-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}
