@use "@scss/variables/colors" as c;

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;
}

.input-with-icon-wrapper {
  display: flex;
  justify-content: space-between;

  .input {
    border: 2px solid c.$c-grey-200;
    padding: 0.5rem;
  }
}

.label {
  color: c.$c-grey-300;
  padding-bottom: 0.2rem;
}
.input {
  position: relative;
  border: 2px solid c.$c-grey-200;
  padding: 0.4rem;
}
.input::placeholder {
  color: c.$c-grey-300;
}

.input:invalid {
  border: 2px solid c.$c-red;
}
