.nav-content {
  display: flex;
  position: relative;
  width: 25%;
  max-width: 250px;
  max-height: 90vh;
}

.nav-boards-list-wrapper {
  max-height: 60vh;
  overflow: auto;
  width: 100%;
}

.nav-toggle-theme-wrapper {
  position: fixed;
  bottom: 5.5rem;
  padding: 0.5rem;
  width: 25%;
  max-width: 250px;
}

.nav-toggle-wrapper {
  position: fixed;
  bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 25%;
  max-width: 250px;
}

.nav-hidden {
  position: fixed;
  bottom: 1rem;
  padding: 0.5rem;
  width: 10%;
  max-width: 60px;
}
