$c-white: #ffffff;
$c-red: #ea5555;
$c-purple: #635fc7;

// grey tones
$c-grey-100: #efeffa;
$c-grey-200: #f4f7fd;
$c-grey-300: #828fa3;
$c-grey-400: #2b2c37;
$c-grey-500: #20212c;
$c-grey-600: #000112;

// light

//bg
$c-bg: #ffffff;
$c-bg-2: #f4f7fd;

//typography
$c-typo-1: #828fa3;
$c-typo-2: #000112;
$c-typo-3: #ffffff;
$c-typo-active-hover: #efeffa;

//colors used across
$c--white: #ffffff;
$c--red: #ea5555;
$c--purple: #635fc7;

// dark

//bg
$c--bg: #2b2c37;
$c--bg-2: #20212c;

//typography
$c--typo: #828fa3;
$c--typo-2: #ffffff;
$c--typo-3: #ffffff;
$c--typo-active-hover: #ffffff;

//colors used across
$c--white: #ffffff;
$c--red: #ea5555;
$c--purple: #635fc7;